.heroIn{
  position:relative;
  width: 100%;
  height: 100vh;
  transition: height 999999s;
  text-align: center;
  min-height: 300px;
  padding: 1px 0;
  background: url("tds0.jpg") no-repeat center center fixed;
  background-size: cover;
}

.heroPro{
  position:relative;
  width: 100%;
  height: 100vh;
  transition: height 999999s;
  text-align: center;
  min-height: 300px;
  padding: 1px 0;
  background: url("Project.jpg") no-repeat center center fixed;
  background-size: cover;
}

.herodiy{
  position:relative;
  width: 100%;
  height: 100vh;
  transition: height 999999s;
  text-align: center;
  min-height: 300px;
  padding: 1px 0;
  background: url("work.png") no-repeat center center fixed;
  background-size: cover;
}

.heroCv{
  position:relative;
  width: 100%;
  height: 100vh;
  transition: height 999999s;
  text-align: center;
  min-height: 300px;
  padding: 1px 0;
  background: url("tds7.jpg") no-repeat center;
  background-size: cover;
}



.principal{
  width: 100%;
}


.encabezado{
  background: rgba(0, 0, 0, 0.75);
}

.logoP{
  display: block;
  position: absolute;
  margin-bç: 50px;
  width: 100%;
  text-align: center;
  opacity: 0.75;
  transition: all 1s ease 0s;
  animation: bounce 1s ease infinite;
}
.logoA{
  display: block;
  position: absolute;
  width: 100%;
  margin-top: 446px;
  text-align: center;
  opacity: 1;
}
.logoPr{
  display: block;
  position: absolute;
  width: 100%;
  margin-top: 20px;
  text-align:right;;
  opacity: 1;
}
.cabecera{
  background: rgba(0, 0, 0, 0.35);
}
.flecha{
  font-size: 10em;
}
.flecha1{
  font-size: 10em;
  position: absolute;
  top: -200px;
  color: rgba(255, 255, 255, 1);
}
 @keyframes bounce {
  0%{
    bottom: 170px;
  }
  50%{
    bottom: 150px;
  }
  100%{
    bottom: 170px;
  }
}

.pseudo.button{
  color: rgba(255, 255, 255, 0.75);
}

.stack{
  background: rgba(0, 0, 0, 0.75);
}

.tipografia{
  color: rgba(255, 255, 255, 0.75);
}

@media (max-width: 60em){
  nav .menu{
    background: rgba(0, 0, 0, 0.8);
  }
}

.perfil {
  border-radius: 50%;     /* Make it a circle */
  padding: 60px;
  width: 60%;
}
.info{
  margin-top: 100px;
}
.cv1{
  position:relative;
  width: 100%;
  height: 100vh;
  transition: height 999999s;
  text-align: center;
  min-height: 300px;
  padding: 1px 0;
  background: url("tds0.jpg") no-repeat center center;
  background-size: cover;
}
.cv2{
  position:relative;
  width: 100%;
  height: 100vh;
  transition: height 999999s;
  text-align: center;
  min-height: 300px;
  padding: 1px 0;
  background: url("tds5.jpg") no-repeat center center;
  background-size: cover;
}
.cv3{
  position:relative;
  width: 100%;
  height: 100vh;
  transition: height 999999s;
  text-align: center;
  min-height: 300px;
  padding: 1px 0;
  background: url("moto.jpg") no-repeat center center;
  background-size: cover;
}
footer{
  background: url("fibracarbono.jpg");
  background-size: cover;
  width: auto;

}

.nombre{
  margin-left: 200px;
}
.presentacion{
  margin-top:52px
}

.text {
  transition: all 0.3s ease;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  text-align: center;
}

.visible{
  transition: all 0.3s ease;
  opacity: 1;
}

.element{
  border-radius: 30px;
  width: auto;
  min-height: 420px;
}
.bloque{
  background: rgba(0, 0, 0, 0.75);
  border: 20px;
  border-radius: 20px;
  text-align: center;
}
.imagen{
  margin: 5%;
  width: 90%;
  border-radius: 25px;
}
h1{
  text-align: center;
}
.tutoriales{
  padding: 10px;
  background: url(fibradecarbono.jpg)
}
.filter{
  background:rgba(0, 0, 0, 0.65);
  border-radius: 20px;
}
.filtro{
  background:rgba(0, 0, 0, 0.65);
  position: absolute;
}
.tutorial1{
  background: url("tds0.jpg") no-repeat center center fixed;
}
.tutorial2{
  background: url("tds1.jpg") no-repeat center center fixed;
}
.tutorial3{
  background: url("tds2.jpg") no-repeat center center fixed;
}
.tutorial4{
  background: url("tds3.jpg") no-repeat center center fixed;
}
.tutorial5{
  background: url("tds4.jpg") no-repeat center center fixed;
}
.tutorial6{
  background: url("tds5.jpg") no-repeat center center fixed;
}
.tutorial7{
  background: url("tds6.jpg") no-repeat center center fixed;
}
.tutorial8{
  background: url("tds1.jpg") no-repeat center center fixed;
}
.tutorial9{
  background: url("tds2.jpg") no-repeat center center fixed;
}
.tutorial10{
  background: url("tds3.jpg") no-repeat center center fixed;
}
.tutorial11{
  background: url("tds4.jpg") no-repeat center center fixed;
}
.tutorial12{
  background: url("tds5.jpg") no-repeat center center fixed;
}

* {
  box-sizing: border-box;
}

.slider {
    width: 95%;
    margin: 350px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}
.your-class{
  width: 100%;
}
